body {
  margin: 10px;
  white-space: nowrap;
  text-align: center;
}

h1 {
  font-size: 15px;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.subtitle {
  margin-bottom: 10px;
}

button {
  color: white;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #3572b0;
}

button:active {
  opacity: 0.5;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

#show-player {
  background-color: #3572b0;
}

#clear {
  background-color: #f14e4e;
}

#go-back {
  background-color: #f14e4e;
}

#show-extractor {
  background-color: #7a3;
}

#extractor-view {
  display: none;
}
