body {
  margin: 10px;
  white-space: nowrap;
  text-align: center;
}

h1 {
  font-size: 15px;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.subtitle {
  margin-bottom: 10px;
}

#show-results {
  display: none;
}

button {
  color: white;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 80px;
}

button:active {
  opacity: 0.5;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

#start {
  background-color: #4eb5f1;
}

#advance-buttons-container {
  display: none;
}

#next {
  background-color: green;
}

#pospone {
  border: 1px solid green;
  color: green;
  width: 80px;
}

#skip {
  border: 1px solid green;
  color: green;
  width: 60px;
}

#clear {
  display: none;
  background-color: #f14e4e;
}

#show-results {
  display: none;
  background-color: #4eb5f1;
  width: 100px;
}

#speaker {
  visibility: hidden;
  margin: 10px;
}
