body {
  margin: 10px;
  white-space: nowrap;
  text-align: center;
}

h1 {
  font-size: 15px;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.subtitle {
  margin-bottom: 10px;
}

#show-results {
  display: none;
}

button {
  color: white;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 100px;
}

button:active {
  opacity: 0.5;
}

#start {
  background-color: blue;
}

#next {
  display: none;
  background-color: green;
}

#clear {
  display: none;
  background-color: red;
}

#show-results {
  display: none;
  background-color: blue;
}
